@import "../bootstrap-less/variables.less";
@import "../bootstrap-less/mixins.less";
@import "bootstrap-custom.less";
@import "custom-mixins.less";

// -------------------------------------
// VARIABLES
// -------------------------------------
@defaultHeight: 519px;
//@itemHighlightColor: #08C;
@mainFont: ~"'Droid Sans', sans-serif";
@scrollbarWidth: 10px;

// -------------------------------------
// GLOBAL
// -------------------------------------
html {
    .user-select(none);
}

body {
    font-family: @mainFont;
    padding-top: 41px;
}

#spinner {
    position: relative;
}

// Custom scrollbars - WebKit-based browsers only (Chrome, Safari, etc.)
::-webkit-scrollbar {
    width:  @scrollbarWidth;
    height: @scrollbarWidth;
}

::-webkit-scrollbar-thumb {
    background: #DEDEDE;
    &:hover {
        background: darken(#DEDEDE, 5%);
    }
}

::-webkit-scrollbar-track {
    border-top:  1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    background:  rgba(0, 0, 0, 0.03);
}

#footer {
    text-align: center;
    .navbar-inner .container .nav {
        width: 100%;
        li {
            width: 100%;
            a {
                cursor:          default;
                display:         block; //from navbar.less: ".navbar .nav > li > a"
                float:           none;
                padding:         ((@navbarHeight - @baseLineHeight) / 2) 15px ((@navbarHeight - @baseLineHeight) / 2);
                text-decoration: none;
                text-shadow:     0 1px 0 @navbarBackgroundHighlight;
            }
        }
    }
}

// -------------------------------------
// home.jsp
// -------------------------------------

#home-main-container .row {
    .light-border-right;
}

#home-sidebar {
}

#home-sidebar-header {
    .light-border-bottom;
}

#home-item-list {
    height:     @defaultHeight;
    list-style: none;
    margin:     0px;
    overflow-y: scroll;
    li {
        cursor:        default;
        padding:       16px;
        border-bottom: 1px solid darken(white, 10%);
        &:hover {
            background: darken(white, 3%);
        }
        &.active {
            background: @linkColor;
            color:      white;
            &:hover {
                background: darken(@linkColor, 3%);
            }
        }
    }
}

#home-item-list-container {
    .light-border-left;
    .light-border-right;
    margin-left: 0px;
}

#home-item-list-header {
    .box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    height:        52px;
    background:    rgb(240, 240, 240);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    h4 {
        margin: 16px -5px;
    }
}

#home-item-list-footer {
    color:         rgb(208, 208, 208);
    line-height:   48px;
    text-align:    center;
    border-bottom: initial !important;
    &:hover {
        background: initial !important;
    }
}

#home-item-detail {
    height:     @defaultHeight + 53px;
    overflow-y: scroll;
}

#home-item-detail-container {
    margin-right: -1px;
    width:        480px;
    height:       @defaultHeight+ 24px;
}
